body {
    width: 186px;
    height: 120px;
    background-color: white;
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.checkboxWrapper {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + span {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 1em;
    height: 1em;
    margin: -1px 0 0 0;
    vertical-align: middle;
    background: white left top no-repeat;
    border: 1px solid #ccc;
    cursor: pointer;
}

input[type="checkbox"]:checked + span {
    background: #94a5f2 -19px top no-repeat;
    border: 1px solid #eee;
}

input[type="checkbox"] + span {
    margin-right: 6px;
}