@import "/public/main.css";

.App {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.linkButton {
  padding: .4em .7em;
  font-size: 1em;
  border-radius: 6px;
}

/* Checkbox */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 1em;
  height: 1em;
  margin: -1px 0 0 0;
  vertical-align: middle;
  /*background: white;*/
  border: 1px solid #ccc;
  cursor: pointer;
}

input[type="checkbox"]:checked + span {
  background: #94a5f2;
  border: 1px solid #eee;
}

input[type="checkbox"] + span {
  margin-right: 6px;
}