#iguana-root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: transparent;
}

#iguana-root button {
    border: None;
    box-sizing: border-box;
    color: black !important;
    background-color: #51B848 !important;
    text-align: center !important;
}

#iguana-root .animated {
    transition: all 0.2s;
}

#iguana-root .animated:hover {
    transform: scale(1.1);
}

#iguana-root .animated:active {
    transform: scale(1);
}

#iguana-root .noselect {
    -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Safari */
    -webkit-user-drag: none !important; /* Any MacOS? */
    -khtml-user-select: none !important; /* KDE Konqueror HTML */
    -moz-user-select: none !important; /* Old versions of Firefox */
    -ms-user-select: none !important; /* Internet Explorer/Edge */
    user-select: none !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}