/* Link Button */
.linkButton {
    display: inline-block;
    border: None; /* 4px solid #000000; */
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    border-radius: 5%;
}

.linkButton:hover {
    transform: scale(1.1);
    /*transition: .3s;*/
}

.linkButton:active {
    transform: scale(1);
    /*transition: .3s;*/
}

@media all and (max-width: 30em) {
    .linkButton {
        display: block;
        margin: 0.4em auto;
    }
}