.linkButton {
    border: None;
    box-sizing: border-box;
    color: black;
    background-color: #94a5f2;
    background-image: linear-gradient(56deg, #7478d4 8%, #a5dbff 100%);
    text-align: center;
    transition: all 0.2s;
    border-radius: 6px;
    padding: .4em .7em;
    font-size: 1em;
}

.linkButton:hover {
    transform: scale(1.1);
}

.linkButton:active {
    transform: scale(1);
}