@import "/public/main.css";

#iguana-root .buttonContainer{
    opacity: 100;
    transition: opacity .6s ease-in-out;
    z-index: 999;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

#iguana-root .buttonContainer.show {
    opacity: 100;
}

#iguana-root .quickmarkButton {
    padding: 0;
    font-size: 30px;
    border-radius: 50%;
    background-color: #216828;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#iguana-root .mark {
    height: 42px;
    display: block;
    margin: auto;
}