body {
    height: 90px;
    width: 120px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;   
}

.button {
    margin: 5px;
    background-color: #03a1fc;
    color:whitesmoke;
    border: none;
    border-radius: 2px;   
    text-align: center;
}

.button:hover {background-color: #3db8ff}
.button:active {
    background-color: #03a1fc;
    box-shadow: 0 4px #666;
}